# 1. Ignorar TODO
*

# 2. No ignorar la configuración de git
!.gitignore

# 3. ¡PERO! Déjame subir mis archivos de código (Añade los que uses)
!*.html
!*.css
!*.js
!*.php
!README.md

# 4. Y permite entrar en las carpetas (importante para que encuentre el código dentro)
!*/