.text-lowercase {
    text-transform: lowercase;
}

li {
  padding: 8px;
  margin-bottom: 5px;
  list-style: none;
}

.role-boss {
  background-color: #ffe6e6;
  color: #c0392b;
}

.role-design {
  background-color: #f3e5f5;
  color: #8e24aa;
}

.role-tech {
  background-color: #e3f2fd;
  color: #1565c0;
}