body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

button {
    background-color: #676767;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #414141;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    display: block; 
    margin-bottom: 15px;
    width: 300px;
}

input[type="text"] {
    font-size: 16px;
}

input[type="number"] {
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.error-input {
    border: 2px solid red !important;
    background-color: #ffe6e6;
}

.error-label {
    color: red;
}